# Top level ignore patterns
apps/**/telegraf-config/Telegraf_multi_stream.conf
configs/grafana/dashboards/grafana-dashboard.json

# Helm directory ignore patterns
helm/*.json
helm/*.yml
helm/*.yaml
helm/*.conf
helm/*.sh
helm/*.csv
helm/simulation-data/
helm-packages/

venv/
# Python cache
tests/**/__pycache__/
tests/__pycache__/
tests/functional/tests.log