Source: ros-humble-state-machine-msgs
Section: misc
Priority: optional
Maintainer: Intel Robotics Team <robotics@intel.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-rosidl-default-generators
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-state-machine-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-rosidl-default-runtime
Description: Custom message for state machines communication Package
