Source: ros-humble-rvc-vision-messages
Section: misc
Priority: optional
Maintainer: Intel Robotics Team <robotics@intel.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-rosidl-default-generators, ros-humble-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-rvc-vision-messages
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-rosidl-default-runtime
Description: Custom message between AI and motion controller
