.vscode/
install/
log/*
build/
datasets/
src/yolo/matplotplusplus/**/*
models/

**/debian/ros-humble-openvino-yolov8*/

# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

#
*.ddeb
*.dsc
*.deb
*.changes
*.buildinfo
*.tar.gz

**/obj-x86_64-linux-gnu/
**/.debhelper/
**/ros-humble-openvino-yolov8-msgs/
**.debhelper*
**.substvars*
**/debian/files
**/debian/debhelper-build-stamp
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

include/divisible/*


## Local 

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner
yolov8n.onnx
yolov8n.pt
