#!/usr/bin/make -f

INSTALL_DIR=opt/ros/humble/share/collab-slam

override_dh_fixperms:
	dh_fixperms

%:
	dh $@

override_dh_auto_install:
	install -d $(CURDIR)/debian/ros-humble-cslam-tutorial-region-remap/$(INSTALL_DIR)/tutorial-region-remap
	install -m 0755 scripts/cslam-region-map.sh $(CURDIR)/debian/ros-humble-cslam-tutorial-region-remap/$(INSTALL_DIR)/tutorial-region-remap
	install -m 0755 scripts/cslam-region-remap.sh $(CURDIR)/debian/ros-humble-cslam-tutorial-region-remap/$(INSTALL_DIR)/tutorial-region-remap
	dh_auto_install --
