#!/usr/bin/make -f

INSTALL_DIR=opt/ros/humble/share/collab-slam

override_dh_fixperms:
	dh_fixperms

%:
	dh $@

override_dh_auto_install:
	install -d $(CURDIR)/debian/ros-humble-cslam-tutorial-fastmapping/$(INSTALL_DIR)/tutorial-fastmapping
	install -m 0755 scripts/cslam-fastmapping.sh $(CURDIR)/debian/ros-humble-cslam-tutorial-fastmapping/$(INSTALL_DIR)/tutorial-fastmapping
	install -m 0644 config/collab_slam_fm.rviz $(CURDIR)/debian/ros-humble-cslam-tutorial-fastmapping/$(INSTALL_DIR)/tutorial-fastmapping
	dh_auto_install --
