#!/usr/bin/make -f

INSTALL_DIR=opt/ros/humble/share/collab-slam

override_dh_fixperms:
	dh_fixperms

%:
	dh $@

override_dh_auto_install:
	install -d $(CURDIR)/debian/ros-humble-cslam-tutorial-2d-lidar/$(INSTALL_DIR)/tutorial-2d-lidar
	install -m 0755 scripts/cslam-2d-lidar.sh $(CURDIR)/debian/ros-humble-cslam-tutorial-2d-lidar/$(INSTALL_DIR)/tutorial-2d-lidar
	dh_auto_install --
