Source: ros-humble-its-send-localization
Section: utils
Priority: optional
Maintainer: ECI Maintainer <eci.maintainer@intel.com>
Build-Depends: cmake, debhelper (>=11~), python3-ament-package, ros-humble-ament-cmake, ros-humble-ament-lint-common, ros-humble-ament-lint-auto, ros-humble-ament-cmake-gtest, ros-humble-rclcpp, ros-humble-rclcpp-action, ros-humble-rclcpp-lifecycle, ros-humble-std-msgs, ros-humble-geometry-msgs, ros-humble-geometry-msgs, ros-humble-visualization-msgs, ros-humble-nav-msgs, ros-humble-tf2-ros, ros-humble-its-planner, ros-humble-nav2-core, ros-humble-builtin-interfaces, ros-humble-pluginlib, libboost-dev, libboost-serialization-dev
Standards-Version: 4.1.4

Package: ros-humble-its-send-localization
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, ros-humble-rcl, ros-humble-rclcpp, ros-humble-rclcpp-lifecycle, ros-humble-nav2-msgs, ros-humble-nav2-core, ros-humble-its-planner, ros-humble-geometry-msgs, ros-humble-nav2-amcl, ros-humble-std-srvs, ros-humble-robotics-sdk-license,
Description: Send localization if package needed for Relocalization module for ROS2 Navigation
