# Copyright (C) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

**/.python-version

# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.py[cod]
*.py[codz]
*$py.class

# Ignore virtual environment directories
**/venv/
**/env/
**/.venv/
**/.env/

# Ignore log files
*.log

# Ignore IDE specific files
.vscode/

*.manifest
*.spec

.DS_Store
.idea/
logs/

# Ignore model files
**/ov-model/
**/ov-models/


# Ignore pytest cache
.pytest_cache/

# Ignore pytest result files
*.pytest_cache

# Other cache files
**/.ruff_cache

# pytest related dir
empty_model_dir
mock_model_dir
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# secrets
**/secrets
**/secrets/ca
**/secrets/certs
**/secrets/django
**/secrets/*.auth
**/secrets/supass
**/dlstreamer-pipeline-server/videos/**.ts

ai-route-planner.pid

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST