Source: ros-humble-wandering-gazebo-tutorial
Section: utils
Priority: optional
Maintainer: ECI Maintainer <eci.maintainer@intel.com>
Build-Depends: cmake, debhelper (>=11~), ros-humble-ament-cmake, ros-humble-ament-lint-common, ros-humble-ament-lint-auto,
Standards-Version: 4.1.4

Package: ros-humble-wandering-gazebo-tutorial
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},  ros-humble-launch-ros, ros-humble-nav2-bringup, ros-humble-turtlebot3-gazebo, ros-humble-rtabmap-demos, ros-humble-wandering, ros-humble-robotics-sdk-license,
Description: Tutorial for Wandering application with Gazebo
