<?xml version="1.0"?>
<robot name="table">
  <link name="world">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="-0.44 0.62 0.04"/>
      <geometry>
	      <mesh filename="package://rvc_dynamic_motion_controller_tradeshows/meshes/conveyor.obj" scale="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
</robot>
