Source: ros-humble-rvc-static-motion-controller-use-case
Section: misc
Priority: optional
Maintainer: Intel Robotics Team <robotics@intel.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-gui-settings, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rvc-grasp-interface, ros-humble-rvc-messages, ros-humble-rvc-motion-controller-interface, ros-humble-sensor-msgs, ros-humble-state-machine-msgs, ros-humble-std-msgs, ros-humble-std-srvs, ros-humble-tf2, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-rvc-static-motion-controller-use-case
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rvc-grasp-interface, ros-humble-rvc-motion-controller-interface, ros-humble-sensor-msgs, ros-humble-tf2, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros
Description: Main package for RVC motion controller
