Source: ros-humble-rvc-grasp-interface
Section: misc
Priority: optional
Maintainer: Intel Robotics Team <robotics@intel.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rvc-messages
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-rvc-grasp-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rvc-messages
Description: pluginlib interface that a pose to grasp plugin has to implement
