#!/usr/bin/make -f

INSTALL_DIR=/opt/ros/humble/share/scripts

override_dh_fixperms:
	dh_fixperms

%:
	dh $@

override_dh_auto_install:
	install -d $(CURDIR)/debian/ros-humble-collab-slam/$(INSTALL_DIR)
	dh_auto_install --destdir=$(CURDIR)/debian/ros-humble-collab-slam/$(INSTALL_DIR)
