Source: ros-humble-cslam-tutorial-two-robot
Section: utils
Priority: optional
Standards-Version: 4.1.4
Maintainer: ECI Maintainer <eci.maintainer@intel.com>

Package: ros-humble-cslam-tutorial-two-robot
Architecture: any
Depends: ros-humble-cslam-tutorial-common, ros-humble-bagfile-robot1, ros-humble-bagfile-robot2,
Description: Intel Collaborative SLAM tutorial for two robots
