imutils
protobuf>=4.25.8
Pillow
psutil
cython
screeninfo
onnx
onnxscript
opencv-python
openvino==2025.3.0
numpy<2.0
ultralytics==8.0.0
pyrealsense2
setuptools>=78.1.1
mkl==2025.3.0
onemkl-sycl-vm==2025.3.0
onemkl-sycl-stats==2025.3.0
onemkl-sycl-rng==2025.3.0
onemkl-sycl-dft==2025.3.0
onemkl-sycl-datafitting==2025.3.0
onemkl-sycl-blas==2025.3.0
onemkl-sycl-sparse==2025.3.0
onemkl-sycl-lapack==2025.3.0
mkl-dpcpp==2025.3.0
dpnp==0.16.0
dpctl