# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore storage directory
storage/

# Ignore models directory
models/

# Ignore chunks directory
chunks/

#Ignore logs
monitoring/executionlogs/

*.exe
*.whl

*venv*

chroma_data/
minio_data/
extracted_images/
logs/
