# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environments
*venv*

# Ignore storage directory
storage/
chroma_data/
minio_data/

# Ignore models directory
models/

# Ignore chunks directory
chunks/

#Ignore logs
monitoring/executionlogs/
logs/

*.exe
*.whl
